<%= form_for @changeset, @action, fn f -> %> <!-- Automatically changes form name to match action (CRUD)-->
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :url %>
  <%= text_input f, :url %>
  <%= error_tag f, :url %>

  <%= label f, :title %>
  <%= text_input f, :title %>
  <%= error_tag f, :title %>

  <%= label f, :description %>
  <%= textarea f, :description %>
  <%= error_tag f, :description %>

  <%= label f, :category_id, "Category" %>
  <%= select f, :category_id, category_select_options(@categories), prompt: "Choose a category" %> <!-- Accessing the function that is defined in video_view.ex-->

  <!-- @categories is passsed from video_controlller via the assign statement-->

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
