<h1>New User</h1>

<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %> 
<!-- I understand almost everything except form_for and fn f-> thing-->

<!-- form_for provides security like UTF8 encoding and such, treat like magic word for now.

Takes changeset, path (thats the Routes) and anomous function that creates the form -->

<!-- Posts to /user so we need to setup an ENDPOINT -->

    <%= if @changeset.action do %> <!-- Changeset details are here because we defined those changest in Rumbl.Accounts.User-->
    <!-- Changeset is so that Elixer can EFFICIENTLY track and amange each request-->
        <div class="alert alert-danger">
            <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
    <% end %>
    <div>
        <%= text_input f, :name, placeholder: "Name "%>
        <%= error_tag f, :name %>
    </div>
    <div>
        <%= text_input f, :username, placeholder: "Username" %>
        <%= error_tag f, :username %>
    </div>
    <div>
        <%= password_input f, :password, placeholder: "Password" %>
        <%= error_tag f, :password%>
    </div>
    <%= submit "Create User" %>
<% end %> <!-- WE are asking here for the function to be evaluted WITHOUT storing result in the tag. Side effect. Stops the fn delcared on line 3 scope?-->

<!-- This the submit,text_input are all inside the  Phoenix.HTML library-->