<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rumbl · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script>window.userToken = "<%= assigns[:user_token]%>"</script> <!-- We are injecting user token into webpage so that we can pick it up by script-->
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <section class="container">
      <nav role='navigation'>
        <ul>
          <!-- When  the user is avalibe show top part, otherwise show login part -- >

          <!-- -->
          <%= if @current_user do %>
            <li><%= @current_user.username %></li>
            <li><%= link "My Videos", to: Routes.video_path(@conn, :index)%></li>
            <li>
              <%= link "Log out", to: Routes.session_path(@conn, :delete, @current_user), method: "delete"%> <!-- Need to pass method, otherwise defaults to get which is NOT what we want here. Questions is whjere is session_path  and user_path coming from-->
            </li>
          <% else %>
          <!-- I sEE what is happening! I'm calling a specific route and mode and the system is filling in the link logistics. This is so beautiful. -->

          <!-- I have defined both a user_path and a session_path in router, and :new and :delete are methods that I have defined for those routes. This is seriously beautiful.-->
            <li><%= link "Register", to: Routes.user_path(@conn, :new)%></li>
            <li><%= link "Log in", to: Routes.session_path(@conn, :new)%> </li>
          <% end %>
        </ul>
      </nav>
    </section>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
